<!-- ====== ABOUT PAGE HEADER ====== -->
<section class="page-header">
  <div class="container">
    <h1 class="page-header-title">About Us</h1>
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">About Us</li>
    </ul>
  </div>
</section>

<!-- ====== PAGE CONTENT ====== -->
<section id="page-content" class="page-section">
  <div class="container">

    <!-- Section Title -->
    <div class="section-header">
      <h2 class="section-title">About Tonjoo Property</h2>
    </div>

    <!-- Section Content -->
    <div class="panel-box">
      <div class="row">
        <div class="col-md-4">
          <div class="content-image">
            <img src="assets/images/img_slider_default.jpg" alt="About Tonjoo Property">
          </div>
        </div>
        <div class="col-md-8">
          <div class="content-description">
            <h2>Property</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====== OUR AGENT SECTION ====== -->
<section id="our-agent" class="page-section" style="background-image: url(assets/images/main_default.jpg);">
  <div class="container">
    <!-- Section Title -->
    <div class="section-header">
      <h2 class="section-title">Our Agent</h2>
    </div>

    <!-- Agent / Team List -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!-- Agent / Team Item -->
        <div class="profile-box">
          <img src="assets/images/team_default.jpg" alt="John Doe">
          <div class="profile-content">
            <h3 class="profile-name">John Doe</h3>
            <p class="profile-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <ul class="profile-contact">
              <li><i class="fa fa-envelope"></i> <a href="#">hello@tonjoo.com</a></li>
              <li><i class="fa fa-phone"></i> <a href="#">1300 123 123</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- Agent / Team Item -->
        <div class="profile-box">
          <img src="assets/images/team_default.jpg" alt="Rocky Balboa">
          <div class="profile-content">
            <h3 class="profile-name">Rocky Balboa</h3>
            <p class="profile-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <ul class="profile-contact">
              <li><i class="fa fa-envelope"></i> <a href="#">hello@tonjoo.com</a></li>
              <li><i class="fa fa-phone"></i> <a href="#">1300 123 123</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- Agent / Team Item -->
        <div class="profile-box">
          <img src="assets/images/team_default.jpg" alt="Richard Max">
          <div class="profile-content">
            <h3 class="profile-name">Richard Max</h3>
            <p class="profile-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <ul class="profile-contact">
              <li><i class="fa fa-envelope"></i> <a href="#">hello@tonjoo.com</a></li>
              <li><i class="fa fa-phone"></i> <a href="#">1300 123 123</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- Agent / Team Item -->
        <div class="profile-box">
          <img src="assets/images/team_default.jpg" alt="Boby Marley">
          <div class="profile-content">
            <h3 class="profile-name">Boby Marley</h3>
            <p class="profile-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <ul class="profile-contact">
              <li><i class="fa fa-envelope"></i> <a href="#">hello@tonjoo.com</a></li>
              <li><i class="fa fa-phone"></i> <a href="#">1300 123 123</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
